/*
.container {
    width: 35%; 
    position: relative;  
    top: 340px;
    left: 450px;

  }


  #lupa{
    position: absolute;
    top: 6px;
    left: 8px;
    background-color: white; 

  }
 
  label {display:inline;}
  
  input {
  width: 100%;
  border-radius: 14px;
  background-color: white;      
  padding: 10px;    
  border-radius: 14px;
  border: 2px solid gray;   
  text-align: center;   
  } 

*/

.container{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -10%);

  background: white;
  padding: 10px;
  height: 28px;
  width: 500px;
  border-radius: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#busca {
  position: relative;
  background: none;
  border: 0;
  outline: 0;
  font-size: 15px;
  right: 20px;
  width: 440px;
  text-align: center;
  
}

#atomo{
  background: none;
  padding-bottom: 2px;
}

  


  
   
  