<p>ENEM 2018 - PRIMEIRA APLICAÇÃO - QUESTÃO 132 - CADERNO AZUL <br><br>

As abelhas utilizam a sinalização química para distinguir a abelha-rainha de uma operária,
sendo capazes de reconhecer diferenças entre moléculas. A rainha produz o sinalizador
químico conhecido como ácido 9-hidroxidec-2-enoico, enquanto as abelhas-operárias
produzem ácido 10-hidroxidec-2-enoico. Nós podemos distinguir as abelhas-operárias e
rainhas por sua aparência, mas, entre si, elas usam essa sinalização química para perceber a
diferença. Pode-se dizer que veem por meio da química.<br><br>

LE COUTEUR, R; BURRESON, J. Os botões de Napoleão: as 17 moléculas que mudaram a história. Rio de
Janeiro: Jorge Zahar, 2006 (adaptado).<br><br>

As moléculas dos sinalizadores químicos produzidos pelas abelhas rainha e operária possuem
diferença na<br><br>

A) fórmula estrutural.<br>
B) fórmula molecular.<br>
C) identificação dos tipos de ligação.<br>
D) contagem do número de carbonos.<br>
E) identificação dos grupos funcionais.
</p>

<p> ENEM 2014 - PRIMEIRA APLICAÇÃO - QUESTÃO 49 - CADERNO AZUL<br><br>
    
    O potencial brasileiro para transformar lixo em energia permanece subutilizado — apenas
    pequena parte dos resíduos brasileiros é utilizada para gerar energia. Contudo, bons exemplos
    são os aterros sanitários, que utilizam a principal fonte de energia ali produzida. Alguns
    aterros vendem créditos de carbono com base no Mecanismo de Desenvolvimento Limpo
    (MDL), do Protocolo de Kyoto.<br><br>
    
    Essa fonte de energia subutilizada, citada no texto, é o<br><br>
    
    A) etanol, obtido a partir da decomposição da matéria orgânica por bactérias.<br>
    B) gás natural, formado pela ação de fungos decompositores da matéria orgânica.<br>
    C) óleo de xisto, obtido pela decomposição da matéria orgânica pelas bactérias anaeróbias.<br>
    D) gás metano, obtido pela atividade de bactérias anaeróbias na decomposição da matéria
    orgânica.<br>
    E) gás liquefeito de petróleo, obtido pela decomposição de vegetais presentes nos restos de
    comida.</p>