div{
    position: absolute;
    display: flex;
    color: white;
    top: 30%;
    left: 24%;
    right: 0%;
}


p{
    border: 1px solid white;
    border-radius: 5px;
    width: 230px;
    height: 260px;
    transition: 0.21s;
    text-align: center;
    margin: 5px;
}

a, img {
    transition: 0.21s; 
}

p:hover a, p:hover, p:hover a img {
    border-color: black;
    color: black;
    background-color: #99EDC3;
    transition: 0.21s;
    border-radius: 5px;
    cursor: pointer;
}