*{  margin: 0; 
    padding: 0;
    font-size: 17px;
    font-family: arial;
}

nav{
    width: 100%;
    position: fixed;
    top: 8px;
    

}

ul{
    list-style: none;
}

.menu{
font-size: 15px;
float:left;
}

.menu li{
    position:relative;
    float:left;
    }

    .menu li a{color:white; text-decoration:none; padding:5px 10px; display:block;}

    .menu li a:hover{
    color:#FFF;
    text-shadow:0px 0px 5px #FFF;
    }

    .menu li  ul{
        position:absolute;
        top:25px;
        left:0;
        display:none;
        text-align: center;
        }

        .menu li:hover ul, .menu li.over ul{display:block;}

        .menu li ul li{
            border:1px solid #c0c0c0;
            display:block;
            width:150px;
            border-radius: 3px;
            
            }

            .cent {
                display:flex;
                justify-content:space-evenly;
              }


              
                

/*
            *{
                font-family:Arial, Helvetica, sans-serif;
                text-align: center;
                
            }
            nav { 
                position: absolute;
                top: 140px;
                width: 15%;
            }

            ul {
                list-style: none;
                width: 200px;
                margin: 0;
                padding: 0;
            }
            li {
                position: relative; /* Necessário para flutuar os submenus 
            }
            a {
                color: white;
                border: 1px solid white;
                border-radius: 5px;
                display: block;
                padding: 10px;
                text-decoration: none;
            }
            a:hover {
                background-color: #95F777;
                color: black;
                
            }

            li ul {
                display: none;
            }

            li:hover > ul {
                display: block;
            }

            li ul {
                position: absolute;
                left: 100%; /* Posiciona o menu filho ao lado do menu pai 
                top: 0; /* Posiciona o menu filho no topo do menu pai 
            }*/